doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Five Day Forecast
    link(rel="stylesheet" href="vendor/foundation/css/foundation.css")
    link(rel="stylesheet" href="css/main.css")
  body


    h1 Find Your Forecast
    label Enter ZIP code:
    input#userZip(type='text', name='userZip')

    button.button Submit

    a.button Default button

    h2 Five Day Forecast

    ul#ForecastList
